{% load extension_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="/terrafirma/static/style.css" type="text/css" media="all" rel="stylesheet">
        {% block media %}{% endblock %}

        <title>{% block title %}Terrafirma{% endblock %}</title>
    </head>

    <body>
        <header><h1>
            {% spaceless %}{% block header %}{% maybe_link 'Terrafirma' 'home' %}{% endblock %}{% endspaceless %}
        </h1></header>

        {% spaceless %}{% block content %}{% endblock %}{% endspaceless %}
    </body>
</html>
