{% extends 'terrafirma/environment_detail.html' %}
{% load extension_tags %}

{% block title %} {{ block.super }} - {{ bed.name }} {% endblock %}
{% block header %} {{ block.super }}<span> - </span>{% maybe_link bed.name 'bed' env.abbrev bed.abbrev %} {% endblock %}

{% block content %}

<h2>Bed Details (<a href={% url 'edit-bed' env.abbrev bed.abbrev %}>Edit</a>)</h2>

<b>Name:</b> {{ bed.name }} ({{ bed.abbrev }})
<br>
<b>Environment:</b> {{ bed.env }}
<br>
<b>Status:</b> {% if bed.active %}Active{% else %}Inactive{% endif %}

<h2>Plants (<a href={% url 'new-plant' %}{% path_env_bed %}>New</a>)</h2>

<ul>
    {% for plant in bed.cur_plants %}
    <li>
        <a href={% url 'plant' plant.id %}>{{ plant }}</a>
    </li>
    {% empty %}
    <li>No plants</li>
    {% endfor %}
</ul>

{% endblock %}
