{% extends "terrafirma/base.html" %}
{% load extension_tags %}

{% block title %} {{ block.super }} - Plant Types {% endblock %}
{% block header %} {{ block.super }}<span> - </span>{% maybe_link 'Plant Types' 'plant-types' %} {% endblock %}

{% block content %}

<h2>Plant Types (<a href={% url 'new-plant-type' %}>New</a>)</h2>

<ul>
    {% for pt in object_list %}
    <li><a href={{ pt.get_absolute_url }}><span>{{ pt.common_name }} {{ pt.variety }}</span></a></li>
    {% empty %}
    <li>No plant types</li>
    {% endfor %}
</ul>

{% endblock %}
